<div>
<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    /* background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0); */
/*     background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%); */
    background-image:url("images/white.jpg") ; */
    background-size: cover;
    height: 100vh
}
</style>
<table class="table">
<tr data-ng-repeat="friend in friends">
<td data-ng-hide="currentUser.username==friend.fromId"><img src="http://localhost:8080/BackEndProjectTwo/getimage/{{friend.fromId}}" alt="" width="100px" height="100px" class="img-rounded"></td>
<td data-ng-hide="currentUser.username==friend.toId"><img src="http://localhost:8080/BackEndProjectTwo/getimage/{{friend.toId}}" alt="" width="100px" height="100px" class="img-rounded"></td>
<td data-ng-hide="currentUser.username==friend.fromId"><a href="" data-ng-mouseover="friendDetails(friend.fromId)" data-ng-mouseleave="showDetails=false">View Details</a></td>
<td data-ng-hide="currentUser.username==friend.fromId"><a href="#/wall/{{friend.fromId}}">{{friend.fromId}}</a></td>
<td data-ng-hide="currentUser.username==friend.toId"><a href="" data-ng-mouseover="friendDetails(friend.toId)">View Details</a></td>
<td data-ng-hide="currentUser.username==friend.toId"><a href="#/wall/{{friend.toId}}">{{friend.toId}}</a></td>
<td data-ng-hide="currentUser.username==friend.fromId"><a href="#/message/{{friend.fromId}}"><span class="glyphicon glyphicon-envelope"></span> Message</a></td>
<td data-ng-hide="currentUser.username==friend.toId"><a href="#/message/{{friend.toId}}"><span class="glyphicon glyphicon-envelope"></span> Message</a></td>
</tr>
</table>
<table data-ng-show="showDetails" class="table">
<tr><td>First Name</td><td>{{friendDetails.firstName}}</td></tr>
<tr><td>Last Name</td><td>{{friendDetails.lastName}}</td></tr>
<tr><td>Email ID</td><td>{{friendDetails.email}}</td></tr>
<tr><td>Availability</td><td data-ng-if="friendDetails.online">ONLINE</td><td data-ng-if="!friendDetails.online">OFFLINE</td></tr>
<tr><td>Role</td><td>{{friendDetails.role}}</td></tr>
</table>
</div>